:root {
    --color-principal: #f53907;
    --color-principal-secundario: #fae4d1;
    --color-secundario: #8e2704;
    --color-secundario-secundario: #8e5a44;
    --color-contraste: #e9f299;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../IMG/pexels-jakubzerdzicki-28820768.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: var(--color-contraste);
    font-size: 2.5em;
    text-align: center;
}

/* Clases para la navegacion */
nav {
    background-color: var(--color-principal);
    height: 7vh;
    display: flex;
    align-items: center;
}

nav img {
    background-color: var(--color-secundario);
    height: 7vh;
    padding: 0 1vw;
    border-radius: 0 0 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul li {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

nav ul li:hover {
    height: 7vh;
    background-color: var(--color-secundario);
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.content {
    display: flex;
    flex: 1;
    margin: 0;
    height: 100%;
    min-height: 60vh;
}

/* Menu desplegable */
.content aside {
    display: none;
    background-color: var(--color-principal);
    color: var(--color-contraste);
    padding: 2vh 2vw 2vh 0;
    height: 100%;
    width: auto;
    max-width: 20vw;
    position: absolute;
    left: 0;
    z-index: 1;
}

.content aside ul {
    padding: 2vw;
}

.content aside ul li {
    margin: 0 0 1vh 0;
}

.content aside ul li a {
    color: var(--color-contraste);
    text-decoration: none;
}

/* Clases para la seccion principal */
.content section {
    padding: 5vh 2vw 5vh 2vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.content section .imagenesArticle {
    background-color: violet;
    max-width: 45vw;
}

.content section .imagenesArticle img {
    width: 40vw;
    padding: 3vh 2.5vw 3vh 2.5vw;
}

/* Clases para el pie de pagina */
footer {
    background-color: var(--color-secundario);
    color: var(--color-contraste);
    text-align: center;
    padding: 1em;
}

/* Clases para los modales */
.modal {
    display: none;
}

.modal header {
    max-height: 10vh;
}

.modal form {
    max-width: 400px;
    margin-top: 3vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal form h3 {
    margin: 0 0 2vh 0;
}

.modal form .inputGroup {
    position: relative;
    margin-bottom: 20px;
}

.modal form .inputGroup span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.modal form .inputGroup input {
    width: 80%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 2rem 2rem 2rem 2rem;
    font-size: 16px;
}

.modal form .inputGroup input:focus {
    border-color: #f53907;
    outline: none;
}

.modal form .buttonGroup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal form .buttonGroup button {
    width: 100%;
    padding: 10px;
    background-color: #2ff507;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal form .buttonGroup button[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #f50707;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal form .buttonGroup button:hover {
    background-color: #fae4d1;
    color: #f53907;
}