:root {
    --color-principal: #591902;
    --color-secundario: #9F3B00;
    --color-red: #F20505;
    --color-white: #ffffff;
    --color-black: #353a40;
    --color-gray: #91a5a7;
    --color-purple: #5e68e6;
    --color-orange: #cd873c;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-areas:
    "head head head"
    "nav nav nav"
    "aside content content"
    "foot foot foot"
    ;
}

header {
    grid-area: head;
    background-image: url('../IMG/pexels-jakubzerdzicki-28820768.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: var(--color-white);
    font-size: 2.5em;
    text-align: center;
}

/* Clases para la navegacion */
nav {
    grid-area: nav;
    background-color: var(--color-principal);
    height: auto;
    min-height: 7vh;
    align-content: center;
}

nav img {
    height: 6vh;
    margin: 0 1vw;
}

.content {
    background-color: var(--color-black);
    margin: 0;
    width: 100vw;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

/* Menu desplegable */
.content aside {
    grid-area: aside;
    display: none;
    background-color: var(--color-secundario);
    color: var(--color-white);
    padding: 2vh 2vw 2vh 0;
    min-height: 60vh;
    max-width: 20vw;
    height: max-content;
    z-index: 1;
}

.content aside ul {
    padding: 2vw;
}

.content aside ul li {
    margin: 0 0 1vh 0;
}

.content aside ul li a {
    color: var(--color-contraste);
    text-decoration: none;
}

/* Clases para la seccion principal */
.content section {
    grid-area: content;
    padding: 5vh 2vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 10px;
}
.content section article {
    background-color: var(--color-gray);
    border-radius: 2em;
    height: min-content;
    display: flex;
    justify-content: center;
}

.content section article img {
    width: 90%;
}

.content section article div {
    position: absolute;
}

footer {
    grid-area: foot;
    background-color: var(--color-principal);
    color: var(--color-white);
    text-align: center;
    padding: 1em;
}